# local python files
.venv/
venv/
__pycache__/

# local secrets
.env
#fine tuned model
finetune/fine_tuned_model_id.txt

# Flutter files
.dart_tool
android/
assets/
ios/
lib/
linux/
macos/
test/
web/
windows/
.flutter-plugins-dependencies